.container-setting {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color:white;
  width: 35vw !important;
  min-height: 75vh;
  box-shadow: 9px 11px 37px -4px rgba(0, 0, 0, 0.75);
  font-family: 'Open sans';
}

.mainBody {
  padding-top: 50px !important;
}

.setting-title {
  padding-top: 0;
  font-weight: bolder;
  text-align: center;

}

.input-setting {
  border: none !important;
  border-bottom: 1px solid black !important;
  text-align: center !important;
  font-size: 1em;
  border-radius:0 !important;
  width:20vw !important;
}


.setting-buttons {
  display: flex; 
  justify-content: space-around;
  width:20vw;
  padding: 0;
  
}

.add-delete-button {
  text-align: center !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px !important;
  font-weight: bolder !important;
  background-color: black !important;
  color: white;
  font-size: 1.8em !important;
  padding: 0 !important;
  border-style: none !important;
}
.modal-dialog{
  margin-top:200px !important;
}
.modal-title{
  text-align: center !important;
  font-family: 'Open sans';
  font-size: 2.5em;
  color:orange;
  margin-left: 155px !important;
  margin-top:20px;
}
.modal-header{
  margin:auto;
  margin: 0 !important;
  border-bottom: 0px !important;
  padding-bottom: 0px !important;
  padding-top:20px !important;
  
}
.modal-content {
  background-color:rgba(0, 14, 21, 0.76)!important;
  color:white;
  text-align: center;
  font-family: 'Open sans';
  width:80vw;
  height:30vh;
}
.modal-body{
  font-size: 2.5em;
  font-family: 'Open sans';
  margin-top:20px;
}
.close{
  color:orange !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 2.5em !important;
  opacity: 1 !important;
}
.modal-footer{
  display:flex;
  justify-content: center !important;
}
.hr{
  width:20vw;
  border-top:1px solid white;
  margin:auto;
  margin-top:20px;
}

